/*
    See the JupyterLab Developer Guide for useful CSS Patterns:

    https://jupyterlab.readthedocs.io/en/stable/developer/css.html
*/

/* hide buttons in cell toolbar */
.jp-ToolbarButtonComponent.lm-mod-hidden {
  display: none;
}

.recipe-panel-layout {
  margin-top: 25px;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  margin-left: 72px;
}