/*
    See the JupyterLab Developer Guide for useful CSS Patterns:

    https://jupyterlab.readthedocs.io/en/stable/developer/css.html
*/

/* hide buttons in cell toolbar */
.jp-ToolbarButtonComponent.lm-mod-hidden {
  display: none;
}

/* .jp-mod-active {
  .recipe-panel-layout {
    margin-top: 25px;
  }
} */

.jp-cell-toolbar {
  border: none;
  display: none;
}

.jp-Cell.jp-mod-active {
  border: 2px solid rgba(37, 99, 235, 0.15);
  border-radius: 5px;
  background-color: rgba(37, 99, 235, 0.02) !important;
}
