/*
    See the JupyterLab Developer Guide for useful CSS Patterns:

    https://jupyterlab.readthedocs.io/en/stable/developer/css.html
*/

/* hide buttons in cell toolbar */
.jp-ToolbarButtonComponent.lm-mod-hidden {
  display: none;
}

/*.jp-mod-active {
  .recipe-panel-layout {
    margin-top: 25px;
  }
}*/
/* .jp-Notebook {
  background-color: #0F172A;
} */

.jp-cell-toolbar {
  border: none;
  display: none;
}

/* rgba(37, 99, 235, 0.15); */
.jp-Cell.jp-mod-active {
  border: 1px solid #1976d2;
  border-radius: 5px;
  background-color: rgba(37, 99, 235, 0.02) !important;
}

.lm-DockPanel {
  background: linear-gradient(-45deg, #3b82f6, #a855f7);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#jupyterlab-splash {
  z-index: 10;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-position: center 40%;
  background-repeat: no-repeat;
  background-size: cover;
}

#jupyterlab-splash {
  background-color: white;
}

/* #jupyterlab-splash.light {
  background-color: white;
}

#jupyterlab-splash.dark {
  background-color: var(--md-grey-900);
} */

.splash-fade {
  animation: 2s fade-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
